.container {
    background-color: white;
    border: 1px solid red;
    padding: 10px;
}

.title{
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.app-content-hidden{
    display: none;
}
.app-content{
    display: block;
}